<div class="upload-page">
    <div>
        <h1>UPLOAD SBOMS</h1>
        <div class="uploaded-files-container flex col" #container *ngIf="ContainsFiles()">
            <div class="uploaded-files flex col" *ngIf="ContainsFiles()">
                <div class="file flex center" *ngFor="let item of GetValidSBOMs()">
                    <icon icon="done" color="var(--green)" [matTooltip]="'SBOM is valid'"/>
                    <div class="sbom flex">
                        {{getSBOMAlias(item)}}
                        <input type="checkbox" [value]="item"/>
                    </div>
                </div>

                <div class="file flex center" *ngFor="let item of GetErrorSBOMs()">
                    <icon icon="close" color="var(--red)" [matTooltip]="'SBOM is not valid (' + GetSbomInfo(item).extra + ')'"/>
                    <div class="sbom flex">
                        {{getSBOMAlias(item)}}
                        <input type="checkbox" [value]="item"/>
                    </div>
                </div>
            </div>
            <div class="file flex center" *ngFor="let item of GetLoadingFiles()">
                <mat-spinner style="width: 32px; height: 32px; margin-right: 12px;"/>
                <div class="sbom flex">
                    {{getSBOMAlias(item)}}
                </div>
            </div>
        </div>
        <div class="buttons flex" style="margin-top: 15px;" *ngIf="ContainsFiles()">
            <app-button (click)="SelectAll()">Select All</app-button>
            <app-button (click)="DeselectAll()">Deselect All</app-button>
            <app-button icon="delete" (click)="DeleteSelected()">Delete Selected</app-button>
        </div>
        <div class="buttons flex">
            <app-button class="add-button" icon="add" (click)="browse()">Add SBOMs</app-button>
            <app-button *ngIf="GetValidSBOMs().length >= 1" icon="navigate_next" (click)="NextStepper()">Next</app-button>
        </div>
    </div>
</div>
