:root {
    --accent: #58A5FF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}