.icon-container {
    border-radius: 50%;
    background-color: var(--accent);
    color: white;
    width: 32px;
    height: 32px;
}

.button {
    padding: 0px 15px;
    background-color: var(--secondary);
    gap: 10px;
    width: fit-content;
    height: 50px;
    border-radius: 12px;
    color: white;
    transition-duration: .35s;
    cursor: pointer;
}