<div id="main-wrapper">
  <app-side-panel tabText="SBOM list">
    <form class="tab-content flex col">
      <div class="header">SBOM LIST</div>
      <div class="flex col" style="width: calc(100% - 40px)">
        <div class="header flex">
          <span>Target</span>
        </div>
        <div>
          <app-dropdown
            class="dropdown"
            [options]="GetDropdownSBOMs()"
            key="name"
            (selectionChange)="targetSbom = $event"
          />
        </div>
      </div>
      <div class="selection flex col">
        <div class="header flex">
          <div class="flex center">Comparisons</div>
          <div class="flex select-options">
            <app-button (click)="setAllSelected(true)">Select All</app-button>
            <app-button (click)="setAllSelected(false)">Unselect All</app-button>
          </div>
        </div>
        <div class="content flex col">
          <div class="compare-item flex" *ngFor="let sbom of GetValidSBOMs(); let i = index">
            <input type="checkbox" name="comparison" [value]="sbom" [disabled]="sbom === targetSbom" />
            <div class="sbom flex" (click)="toggleCheckbox(i)">
              {{ getSBOMAlias(sbom) }}
            </div>
          </div>          
        </div>
      </div>
      <app-button
        icon="compare_arrows"
        (click)="compare()"
        class="addSBOMScenter"
        >COMPARE</app-button
      >
    </form>
  </app-side-panel>
  <div class="loading flex center" *ngIf="IsLoadingComparison()">
    <mat-spinner/>
  </div>

  <app-comparison [comparison]="GetComparison()" *ngIf="!IsLoadingComparison()"/>
</div>