#main-wrapper {
  display: flex;
  justify-content: space-between;
  height: 84vh;
}

.content {
  gap: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-content{
  gap: 25px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.tab-content > .header {
  margin-top: 25px;
  align-items: center;
  gap: 5px;
}

.select-options {
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
  gap: 5px;
}

.selection {
  width: 90%;
  height: fit-content;
  gap: 15px;
  max-height: calc(100% - 110px);
  overflow: hidden;
}

.selection > .content {
  gap: 10px;
}

.compare-item {
  gap: 10px;
  width: 95%;
}

.compare-item > .sbom {
  padding: 0px 15px;
  background-color: var(--secondary);
  gap: 10px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  align-items: center;
}

.compare-item > .sbom > * {
  margin-left: auto;
  cursor: pointer;
}
.app-side-panel {
  overflow: hidden;
}

.app-side-panel__content {
  height: 100%;
  position: relative;
}

.app-side-panel__content > .content {
  height: 100%;
}

.addSBOMScenter {
  margin-bottom: 10px;
}

.dropdown {
  padding: 10px;
  width: 100%;
}

.item {
  display: flex;
  overflow-y: scroll;
}

.item > .name {
  width: 75px;
}

.loading {
  width: 100%;
  height: 100%;
}