.results {
    width: 80%;
    overflow-y: scroll;
    margin-top: 150px;
    margin-bottom: 150px;
}

.metrics-body {
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.text {
    height: 100%;
}