.results {
  width: 80%;
  height: 100%;
  margin-top: 20px;
  padding: 30px;
  border-radius: 15px;
  background-color: #1b1e21;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.result {
    background: var(--primary);
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    padding: 5px 5px;
    border-radius: 2px;
}


.title {
    width: 100%;
    display: flex;
    align-items: center;

}

.title > span {
    word-wrap: break-word;

}

.tests {
    padding-top: 5px;
}

.metrics-body {
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

#pass {
    border-right: 4px solid var(--green);
}

#fail {
    border-right: 4px solid var(--red);
}

.text {
    height: 100%;
}