.comparison .path {
  margin-left: 5px;
}
.comparison .path:hover {
  text-decoration: underline;
  cursor: pointer;
}

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparison {
  width: 80%;
  overflow-y: scroll;
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #1b1e21;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.buttons > app-button {
  margin-left: 3px;
}

#attribute-body {
  padding-top: 20px;
}

.in-target{
  margin-top: 4px;
  font-size: large;
}

.title {
  display: flex;
  align-items: center;
}