.comparison .path {
    margin-left: 5px;
}
.comparison .path:hover {
    text-decoration: underline;
    cursor: pointer;
}

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparison {
  width: 80%;
  overflow-y: scroll;
  padding: 20px;
}
