<div class="side-panel" [ngStyle]="{'maxWidth': collapsed ? '0px' : '100%'}">
    <div class="content flex col">
        <div class="header">SBOM List</div>
        <div class="selection flex col">
            <div class="header">
                Target
            </div>
            <div class="content">
                <app-dropdown [options]="sboms"/>
            </div>
        </div>
        <div class="selection flex col">
            <div class="header">
                Comparisons
            </div>
            <div class="content flex col">
                <div class="compare-item flex" *ngFor="let item of sboms">
                    <input type="checkbox"/>
                    <div class="sbom flex">
                        {{item}}
                        <icon icon="question_mark"/>
                    </div>
                </div>
            </div>
        </div>
        <app-button icon="add">ADD SBOMS</app-button>
    </div>
  
    <div class="tab flex center" (click)="collapsed = !collapsed">
        <div class="text">SBOM List</div>
    </div>
</div>