<!--
  Copyright 2021 Rochester Institute of Technology (RIT). Developed with
  government support under contract 70RCSA22C00000008 awarded by the United
  States Department of Homeland Security for Cybersecurity and Infrastructure Security Agency.

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the “Software”), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-->

<mat-horizontal-stepper linear #stepper style="height: 100%; width: 100%" (selectionChange)="checkIndex($event.selectedIndex)">
  <mat-step [completed]="GetValidSBOMs().length >= 1">
    <ng-template matStepLabel>
      <mat-icon>drive_folder_upload</mat-icon>
      <div>Upload SBOMS</div>
    </ng-template>
    <app-upload [stepper]="stepper"></app-upload>
    <app-button *ngIf="GetValidSBOMs().length >= 1 && stepper.selectedIndex !== 0" icon="navigate_next" backgroundColor="var(--accent)" (click)="stepper.next()">Next</app-button>
  </mat-step>

    <mat-step  [completed]="GetValidSBOMs().length >= 2">
      <ng-template matStepLabel>
        <mat-icon>insert_chart_outlined</mat-icon>
        <div>Metrics</div>
      </ng-template>
      <app-metrics-main></app-metrics-main>
      <div class="stepper-buttons">
        <app-button class="add-button" icon="navigate_before" (click)="stepper.previous()">Previous</app-button>
        <app-button class="add-button" backgroundColor="var(--accent)" (click)="stepper.next()" *ngIf="GetValidSBOMs().length >= 2">
          Next
          <icon icon="navigate_next" color="var(--primary)"></icon>
      </app-button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>compare_arrows</mat-icon>
        <div>Compare</div>
      </ng-template>
      <app-comparison-page></app-comparison-page>
      <div class="stepper-buttons">
        <app-button class="add-button" icon="navigate_before" (click)="stepper.previous()">Previous</app-button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
