.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.click-off {
    width: 100%;
    height: 100%;
    background: #0000008e;
}

.content {
    width: 60%;
    height: 30%;
    background: white;
    position: absolute;
}